.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1.25em;
}

.canvasWrapper {
  border: 2px solid #b0bec5;
  border-radius: 10px;
  background-color: #37474f;
  opacity: 0.9;
  background-image: linear-gradient(to bottom, transparent 50%, #583c87 50%),
    linear-gradient(to right, #5e428e 50%, #583c87 50%);
  background-size:
    36px 36px,
    36px 36px;
}

.canvasWrapperGameEnd {
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #37474f;
  opacity: 0.9;
  background-image: linear-gradient(to bottom, transparent 50%, #f36363 50%),
    linear-gradient(to right, #ef4a4a 50%, #f36363 50%);
  background-size: 36px 36px;
}

.mainBoardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.mainCanvasWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border: 2px solid #42a5f5;
  border-radius: 8px;
  padding: 1.5em;
  width: 600px;
  line-height: 1.5em;
}

.menu-title {
  font-size: 2em;
  font-weight: bold;
  color: #90caf9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: stretch;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.2rem;
  color: #fff;
  gap: 1em;
}

.scoreWrapper,
.walletInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.02em;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em;
  width: 100%;
  border-radius: 8px;
  background-color: #ffaf4f;
}

.scoreTitle,
.walletTitle {
  font-size: 1rem;
  color: #18191a;
}

.contentWrapper {
  display: flex;
  align-items: stretch;
  gap: 1em;
}

.rankingBoardWrapper {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border: 1px solid #42a5f5;
  border-radius: 8px;
  padding: 1.5em;
  line-height: 1.5em;

  font-weight: 700;
  color: #1e88e5;
}

.rankingContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  font-weight: 400;
  color: #18191a;
}
