.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1.25em;
}

.canvasWrapper {
  border: 2px solid #b0bec5;
  border-radius: 10px;
  background-color: #37474f;
  opacity: 0.9;
  background-image: linear-gradient(to bottom, transparent 50%, #583c87 50%),
    linear-gradient(to right, #5e428e 50%, #583c87 50%);
  background-size:
    36px 36px,
    36px 36px;
}

.canvasWrapperGameEnd {
  border: 2px solid #f06868;
  border-radius: 10px;
  background-color: #37474f;
  opacity: 0.9;
  background-image: linear-gradient(to bottom, transparent 50%, #484d51 50%),
    linear-gradient(to right, #4e5256 50%, #484d51 50%);
  background-size: 36px 36px;
}

.mainBoardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.mainCanvasWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border: 2px solid #42a5f5;
  border-radius: 8px;
  padding: 1.5em;
  width: 600px;
  line-height: 1.5em;
}

.menu-title {
  font-size: 2em;
  font-weight: bold;
  color: #90caf9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;

  font-size: 1.2em;
  border-radius: 8px;
  color: #fff;
  background-color: #ffaf4f;
}

.scoreWrapper {
  font-size: 2em;
  font-weight: 700;
}

.contentWrapper {
  display: flex;
  align-items: stretch;
  gap: 1em;
}

.rankingBoardWrapper {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border: 1px solid #42a5f5;
  border-radius: 8px;
  padding: 1.5em;
  line-height: 1.5em;

  font-weight: 700;
  color: #1e88e5;
}

.rankingContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  font-weight: 400;
  color: #18191a;
}
